<div style=" position: fixed;
height: 50px;
bottom: 0px;
left: 0px;
right: 0px;
margin-bottom: 0px;">
	<footer class="footer bg-dark py-3 mt-auto container" >
		<div class="container">
			<span class="text-muted">&copy; YelpCamp 2020</span>
		</div>
	</footer>
</div>